
 <div class="right__content">
    <div class="right__title">Bảng điều khiển</div>
    <p class="right__desc">Sửa sản phẩm</p>
    <div class="right__formWrapper">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="right__inputWrapper">
                <label for="title">Tên sản phẩm</label>
                <input type="text" name="productName" [(ngModel)]="product.productName" placeholder="Tên sản phẩm">
            </div>
            <div class="right__inputWrapper">
                <label for="p_category">Danh mục</label>
                <select class="form-control" name="categoryId" [(ngModel)]="product.category.id">
                    <option disabled selected>Chọn danh mục</option>
                    <option *ngFor="let category of categorys" value="{{category.id}}">{{category.categoryName}}</option>
                </select>
            </div>
            <div class="right__inputWrapper">
                <label for="p_supplier">Nhà cung cấp</label>
                <select class="form-control" name="supplierId" [(ngModel)]="product.supplier.id">
                    <option disabled selected>Chọn nhà cung cấp</option>
                    <option *ngFor="let supplier of suppliers" value="{{supplier.id}}">{{supplier.supplierName}}</option>
                </select>
            </div>
            <div class="right__inputWrapper">
                <label for="image">Hình ảnh</label>
                <input type="file" name="file" (change)="onFileChanged($event)">
            </div>
            <div class="right__inputWrapper">
                <label for="title">Giá sản phẩm</label>
                <input type="number" name="price" [(ngModel)]="product.price" placeholder="Giá sản phẩm">
            </div>
            <div class="right__inputWrapper">
                <label for="title">Giá gốc sản phẩm</label>
                <input type="number" name="priceSale" [(ngModel)]="product.priceSale" placeholder="Giá giảm sản phẩm">
            </div>
            <div class="right__inputWrapper">
                <label for="title">Số lượng</label>
                <input type="number" name="quantity" [(ngModel)]="product.quantity" placeholder="Số lượng sản phẩm">
            </div>
            <div class="right__inputWrapper">
                <label for="title">Ngày hết hạn</label>
                <input type="date" name="expired" [(ngModel)]="product.expired" value="{{expireDate}}" (change)="onChangeDate($event)" min="2000-01-01" max="2060-12-31">
            </div>
            <div class="right__inputWrapper">
                <label for="desc">Mô tả</label>
                <textarea name="description" [(ngModel)]="product.description" id="" cols="30" rows="10" placeholder="Mô tả"></textarea>
            </div>
            <button class="btn"  (click)="updateProduct()" type="submit">Lưu</button>
        </form>
    </div>
</div>
