<div class="front-end">
    <app-header [count]="count?count:0"></app-header>
    <app-slide-run></app-slide-run><!-- /.carousel -->

    <!--content-->
    <div class="product">
        <div class="container">
            <div class="spec ">
                <h3>Sản phẩm của chúng tôi</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>
            <div class=" con-w3l agileinf">
                <div class="col-md-3 pro-1" *ngFor="let product of products | slice: (page-1) * pageSize : page * pageSize">
                    <div class="col-m">
						<a href="#" (click)="getId(product.id)"  data-toggle="modal" data-target="#diennguyen" class="offer-img">
							<img src="{{product.image}}" class="img-responsive" alt="">
						</a>
						<div class="mid-1">
							<div class="women">
								<h6><a href="single.html">{{product.productName}}</a></h6>
							</div>
							<div class="mid-2">
								<p><label>{{product.priceSale | number}}</label><em class="item_price">{{product.price | number}} VNĐ</em></p>
								<div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="add add-2">
								<button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1"
									data-summary="summary 1" data-price="6.00" data-quantity="1"
									data-image="assets/images/of16.png" (click) ="OnAddCart(product)">Thêm giỏ hàng</button>
							</div>
						</div>
					</div>
                </div>
				<div class="clearfix"></div>
				<ngb-pagination [collectionSize]="products.length" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"></ngb-pagination> 
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displaySuccess}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" style="color: #d90429;">Thông báo!</h3>
				<button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p style="color: #2b2d42;">Thêm sản phẩm thành công.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)="onCloseHandled()">OK</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayError}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" style="color: #ee6c4d;">Thông báo!</h3>
				<button type="button" class="close" aria-label="Close" (click)="onCloseError()"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p style="color: #001845;">Sản phẩm đã có trong giỏ hàng.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)="onCloseError()">OK</button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="productDetail; isShowModal" class="modal fade" id="diennguyen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-info">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="exit()" ><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body modal-spa">
				<div class="col-md-5 span-2">
					<div class="item">
						<img src="{{productDetail.image}}" class="img-responsive" alt="">
					</div>
				</div>
				<div class="col-md-7 span-1 ">
					<h3>{{productDetail.productName}}</h3>
					<p class="in-para">{{productDetail.description}} </p>
					<div class="price_single">
						<span class="reducedfrom "><del>{{productDetail.priceSale | number}}</del>{{productDetail.price | number}}</span>

						<div class="clearfix"></div>
					</div>
					<h4 class="quick">Mô tả sản phẩm:</h4>
					<p class="quick_desc">{{productDetail.description}}</p>
					<div class="add-to">
						<button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="2" data-name="Sunflower Oil" data-summary="summary 2" data-price="9.00" data-quantity="1" data-image="images/of1.png" (click) ="OnAddCart(productDetail)">Thêm giỏ hàng</button>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayError}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" style="color: #ee6c4d;">Thông báo!</h3>
				<button type="button" class="close" aria-label="Close" (click)="onCloseError()"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p style="color: #001845;">Sản phẩm đã có trong giỏ hàng.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)="onCloseError()">OK</button>
			</div>
		</div>
	</div>
</div>
