<div class="front-end">
  <app-header></app-header>
  <div class="banner-top">
    <div class="container">
      <h3>VỀ CHÚNG TÔI</h3>
      <h4><a href="index.html">Trang chủ</a><label>/</label>Về chúng tôi</h4>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="about-w3 ">

			
    <!--about-->
    <div class="container">
  <div class="about">
<div class="spec ">
      <h3>Về chúng tôi</h3>
        <div class="ser-t">
          <b></b>
          <span><i></i></span>
          <b class="line"></b>
        </div>
    </div>
    
    <div class="col-md-4 about-right">
    <img class="img-responsive" src="assets/images/banner.png" alt="">
    </div>
    <div class="col-md-4 about-left">
      <p>Hiện nay, thực phẩm bẩn đang là nỗi lo thường trực trong mỗi gia đình khi mà báo chí và các phương
        tiện truyền thông thường xuyên đăng tải những vụ việc rùng rợn về vấn nạn vệ sinh an toàn thực
        phẩm. Chính vì thế, kinh doanh thực phẩm sạch đang là một hướng đi được nhiều doanh nghiệp quan
        tâm đầu tư. Thế nhưng trong giới nội trợ ai cũng biết, kinh doanh thực phẩm sạch online từ nhiều năm
        nay đã mở ra một cánh cửa hoàn toàn mới mang lại nhiều cơ hội, đặt biệt là trong những thời điểm
        cận những ngày lễ, hay như ngay trong thực trạng hạn chế tiếp xúc xã hội trong mùa dịch COVID-19
        này.  </p>
    </div>
    <div class="col-md-4 about-right">
    <img class="img-responsive" src="assets/images/bapcai.png" alt="">
    </div>
    
    <div class="clearfix"> </div>
  </div>
</div>
<!--//about-->

<!--work-experience-->
<div class="work">
  <div class="container">
    <div class="spec spec-w3ls">
      <h3>Quá trình hình thành của chúng tôi</h3>
        <div class="ser-t">
          <b></b>
          <span><i></i></span>
          <b class="line"></b>
        </div>
    </div>
    <div class="work-info"> 
      <div class="col-md-6 work-left"> 
        <div class=" work-w3 "> 
          <h5> 5 2018</h5>
          <p>Bắt đầu lên kế hoạch triển khai dự án, xoay vốn để thành lập được lên công ty và trang web</p>
        </div>
        <label></label>
      </div>
      <div class="col-md-6 work-right"> 
        <div class=" work-w31"> 
          <h5> 11 2019</h5>
          <p>Tung ra thị trường nhờ thực phẩm chất lượng và Marketing mạnh thì cuối năm doanh thu đạt 5 tỉ đồng</p>
        </div>
        <label></label>
      </div>
      <div class="clearfix"> </div>
      <span> 2018</span>
    </div>
  </div>
</div>
<!--//work-experience-->
<!--advantages--> 
<!--advantages--> 

</div>
  <app-footer></app-footer>
</div>