<div class="right__content">
    <div class="right__title">Bảng điều khiển</div>
    <p class="right__desc">Thêm sản phẩm</p>
    <form action="" method="POST" [formGroup]="formf" (ngSubmit)="submitForm()">
        <input type="file" class="form-data" multiple (change)="changeFile($event)" formControlName="file"
            name="file" /> <br>
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger" style="width: 260px;">
            <div *ngIf="f.file.errors.required">Bạn chưa chọn file!</div>
        </div>
        <button type="submit" style="width: 120px;" class="btn" [disabled]="!formf.valid">Tải File Excel</button>
    </form>
    <div class="right__formWrapper">
        <form [formGroup]="form" #validateForm="ngForm" action="" method="post" enctype="multipart/form-data">
            <div class="right__inputWrapper">
                <label for="title">Tên sản phẩm</label>
                <input type="text" name="productName" [(ngModel)]="product.productName" placeholder="Tên sản phẩm"
                    formControlName="productName" (change)="checkValidateProductName()">
                <div *ngIf="productName.invalid && (productName.dirty || productName.touched)" class="invalid-feedback">
                    {{productName.errors?.required? 'Tên sản phẩm không được để trống' : ''}}
                </div>
            </div>
            <div class="right__inputWrapper">
                <label for="p_category">Danh mục</label>
                <select class="form-control" name="categoryId" [(ngModel)]="product.categoryId"
                    formControlName="categoryId">
                    <option disabled selected>Chọn danh mục</option>
                    <option *ngFor="let category of categorys" value="{{category.id}}">{{category.categoryName}}
                    </option>
                </select>
            </div>
            <div class="right__inputWrapper">
                <label for="p_supplier">Nhà cung cấp</label>
                <select class="form-control" name="supplierId" [(ngModel)]="product.supplierId"
                    formControlName="supplierId">
                    <option disabled selected>Chọn nhà cung cấp</option>
                    <option *ngFor="let supplier of suppliers" value="{{supplier.id}}">{{supplier.supplierName}}
                    </option>
                </select>
            </div>
            <div class="right__inputWrapper">
                <label for="image">Hình ảnh</label>
                <input type="file" name="file" (change)="onFileChanged($event)">
            </div>
            <div class="right__inputWrapper">
                <label for="title">Giá sản phẩm</label>
                <input type="number" name="price" [(ngModel)]="product.price" placeholder="Giá sản phẩm"
                    formControlName="price">
                <div *ngIf="price.invalid && (price.dirty || price.touched)" class="invalid-feedback">
                    {{price.errors?.required? 'Giá sản phẩm không được để trống' : ''}}
                </div>
            </div>
            <div class="right__inputWrapper">
                <label for="title">Giá giảm sản phẩm</label>
                <input type="number" name="priceSale" [(ngModel)]="product.priceSale" placeholder="Giá giảm sản phẩm"
                    formControlName="priceSale">
                <div *ngIf="priceSale.invalid && (priceSale.dirty || priceSale.touched)" class="invalid-feedback">
                    {{productName.errors?.required? 'Giá giảm sản phẩm không được để trống' : ''}}
                </div>
            </div>
            <div class="right__inputWrapper">
                <label for="title">Số lượng sản phẩm</label>
                <input type="number" name="quantity" [(ngModel)]="product.quantity" placeholder="Số lượng sản phẩm"
                    formControlName="quantity">
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="invalid-feedback">
                    {{quantity.errors?.required? 'Số lượng sản phẩm không được để trống' : ''}}
                </div>
            </div>
            <div class="right__inputWrapper">
                <label for="title">Ngày hết hạn</label>
                <!-- <input type="text" name="expired" [(ngModel)]="product.expired" placeholder="Ngày hết hạn" formControlName="expired"> -->
                <!-- <div *ngIf="expired.invalid && (expired.dirty || expired.touched)" class="invalid-feedback">
                    {{expired.errors?.required? 'Ngày hết hạn không được để trống' : ''}}
                </div> -->
                <input type="date" name="expired" [(ngModel)]="product.expired" value="{{expireDate}}" (change)="onChangeDate($event)" min="2000-01-01" max="2060-12-31">
            </div>
            <div class="right__inputWrapper">
                <label for="desc">Mô tả</label>
                <textarea name="description" [(ngModel)]="product.description" id="" cols="30" rows="10"
                    placeholder="Mô tả" formControlName="description"></textarea>
            </div>
            <button class="btn" (click)="addProduct()" [disabled]="validateForm.invalid" type="submit">Thêm</button>
        </form>
    </div>
</div>
<div *ngIf="IsModelShow" class="modal fade in" id="myModal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 85% !important">
            <div class="modal-body">
                <h3 class="text-center" style="border-bottom: 1px solid black; padding-bottom: 5px;">Thông báo <i
                        class="lar la-bell" style="font-size: 35px;"></i></h3>
                <hr>
                <h3>Thêm thành công</h3>
            </div>
            <div class="modal-footer">
                <button style="width: 20%;" type="button" class="btn btn-default" data-dismiss="modal"
                    (click)="exit()">Đóng</button>
            </div>
        </div>
    </div>
</div>