<div class="right__content">
    <div class="right__title">Bảng điều khiển</div>

    <!-- notification -->
    <!-- <div class="bell-icon" tabindex="1" data-toggle="modal" data-target="#myModal">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="50px" height="30px" viewBox="0 0 50 30" enable-background="new 0 0 50 30" xml:space="preserve">
            <g class="bell-icon__group">
                <path class="bell-icon__ball" id="ball" fill-rule="evenodd" stroke-width="1.5" clip-rule="evenodd"
                    fill="none" stroke="#currentColor" stroke-miterlimit="10"
                    d="M28.7,25 c0,1.9-1.7,3.5-3.7,3.5s-3.7-1.6-3.7-3.5s1.7-3.5,3.7-3.5S28.7,23,28.7,25z" />
                <path class="bell-icon__shell" id="shell" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                    stroke="#currentColor" stroke-width="2" stroke-miterlimit="10"
                    d="M35.9,21.8c-1.2-0.7-4.1-3-3.4-8.7c0.1-1,0.1-2.1,0-3.1h0c-0.3-4.1-3.9-7.2-8.1-6.9c-3.7,0.3-6.6,3.2-6.9,6.9h0 c-0.1,1-0.1,2.1,0,3.1c0.6,5.7-2.2,8-3.4,8.7c-0.4,0.2-0.6,0.6-0.6,1v1.8c0,0.2,0.2,0.4,0.4,0.4h22.2c0.2,0,0.4-0.2,0.4-0.4v-1.8 C36.5,22.4,36.3,22,35.9,21.8L35.9,21.8z" />
            </g>
        </svg>
        <div class="notification-amount">
            <span>1</span>
        </div>
    </div> -->


    <br><br>
    <p class="right__desc">Bảng điều khiển</p>
    <div class="right__cards">
        <a class="right__card"  routerLink="/admin/ordersByDay">
            <div class="right__cardTitle">Ngày hôm nay</div>
            <div class="right__cardNumber">{{revenuaDay.revenueByDay | number}} đ</div>
            <div class="right__cardDesc">Xem Chi Tiết <img src="assets/icon/arrow-right.svg" alt=""></div>
        </a>
        <a class="right__card" routerLink="/admin/ordersByWeek">
            <div class="right__cardTitle">Tuần</div>
            <div class="right__cardNumber">{{revenuaWeek.revenueByWeek | number}} đ</div>
            <div class="right__cardDesc">Xem Chi Tiết <img src="assets/icon/arrow-right.svg" alt=""></div>
        </a>
        <a class="right__card" routerLink="/admin/ordersByMonth">
            <div class="right__cardTitle">Tháng</div>
            <div class="right__cardNumber">{{revenuaMonth.revenueByMonth | number}} đ</div>
            <div class="right__cardDesc">Xem Chi Tiết <img src="assets/icon/arrow-right.svg" alt=""></div>
        </a>
        <a class="right__card" routerLink="/admin/ordersByYear">
            <div class="right__cardTitle">Năm</div>
            <div class="right__cardNumber">{{revenuaYear.revenueByYear | number}} đ</div>
            <div class="right__cardDesc">Xem Chi Tiết <img src="assets/icon/arrow-right.svg" alt=""></div>
        </a>
    </div>

    <div class="right__table">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form action="">
                        <select class="form-control right__tableTitle" name="type"
                        (change)="change($event)">
                            <!-- <option disabled selected>Chọn nhà cung cấp</option> -->
                            <option disabled selected>Chọn ngày</option>
                            <option value="Y">Hôm qua</option>
                            <option value="T">Hôm nay</option>
                            <option value="TW">Tuần này</option>
                            <option value="TM">Tháng này</option>
                            <option value="12M">Năm nay</option>
                            <option value="A">Tất cả</option>
                        </select>
                        
                    </form>
                </div>
                <div class="col-md-4">
                    <a><i class="las la-filter" (click)="getSalesReport()" style="font-size: 39px;"></i></a>
                </div>    
            </div>
        </div>
        <div class="right__tableWrapper">
            <table>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền sản phẩm</th>
                        <!-- <th>Tổng Tiền</th> -->
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let sale of salesReportResponse | slice: (page-1) * pageSize : page * pageSize; index as i">
                        <td>{{i+1}}</td>  
                        <td  style="text-align: left;">{{sale.productName}}</td>
                        <td>{{sale.countQuantity}}</td>
                        <td>{{sale.totalPrice | number}}</td>
                        <!-- <td>{{sale.totalSales}}</td> -->
                    </tr>
                </tbody>
            </table><br>
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="salesReportResponse.length"></ngb-pagination>
        </div>
        <a routerLink="/admin/history-manager" class="right__tableMore">
            <p>Xem tất cả các đơn đặt hàng</p> <img src="assets/icon/arrow-right-black.svg" alt="">
        </a>

        <div *ngIf="IsModelShow" class="modal fade in" id="myModal" style="display: block;">
            <div class="modal-dialog" style="overflow-y: initial">
                <div class="modal-content" style="width: 85% !important">
                    <div class="modal-body" style=" height: 80vh; overflow-y: auto;">
                        <h3 class="text-center" style="border-bottom: 1px solid black; padding-bottom: 5px;">Thông báo <i class="lar la-bell" style="font-size: 35px;"></i></h3>
                        <hr>
                        <span *ngFor="let notification of notifications">
                            <a (click)="getId(notification.id)"  data-toggle="modal" data-target="#diennguyen" class="offer-img"><h4 style="margin: 0 auto;">{{notification.description}} &nbsp;  </h4></a>
                            <h5>{{notification.createDate | date: 'dd-MM-yyyy hh:mm'}}</h5>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button style="width: 20%;" type="button" class="btn btn-default" data-dismiss="modal" (click)= "exit()" >Đóng</button>
                      </div>
                </div>
            </div>
        </div>
        <div *ngIf="notificationDetail; isShowModal" class="modal fade" id="diennguyen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document" >
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <h3 style="float: left;">Chi tiết sản phẩm sắp hết hạn</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="exitDetail()" ><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body modal-spa" >
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img src="{{notificationDetail.product.image}}" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>{{notificationDetail.product.productName}}</h3>
                            <p class="in-para">{{notificationDetail.description}} </p>
                            <div class="price_single">
                                <span class="reducedfrom "><del>{{notificationDetail.product.price}}</del>{{notificationDetail.product.priceSale}}</span>
        
                                <div class="clearfix"></div>
                            </div>
                            <h4 class="quick">Mô tả sản phẩm:</h4>
                            <p class="quick_desc">{{notificationDetail.product.description}}</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>