<!-- <div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/imagexin3.jpg" width="1920px" height="729px" class="d-block w-100" alt="">
        <div class="carousel-caption d-none d-md-block">
          <div class="oh button-wrap"><a class="button button-primary button-ujarak" href="about-us.html" data-caption-animate="slideInLeft" data-caption-delay="400">Xem thêm</a></div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/imagexin4.jpg" class="d-block w-100" alt="">
        <div class="carousel-caption d-none d-md-block">
          <div class="oh button-wrap"><a class="button button-primary button-ujarak" href="about-us.html" data-caption-animate="slideInLeft" data-caption-delay="400">Xem thêm</a></div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/imagexin1.jpg" class="d-block w-100" alt="">
        <div class="carousel-caption d-none d-md-block">
          <div class="oh button-wrap"><a class="button button-primary button-ujarak" href="about-us.html" data-caption-animate="slideInLeft" data-caption-delay="400">Xem thêm</a></div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->

<div data-vide-bg="video/video" style="position: relative;">
  <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;">
      <video autoplay="" loop="" muted=""
          style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; width: 1521px; height: auto;">
          <source src="../assets/images/video.mp4" type="video/mp4"></video>
          </div>
  <div class="container">
      <div class="banner-info">
          <h3>Thực phẩm sạch TopFood+ nơi cung cấp các sản phẩm thịt sạch, hải sản sạch, rau củ quả sạch! đảm bảo an toàn thực phẩm</h3>
          <div  style="padding-bottom: 50px;">
              <form action="#" method="post">
                  <input type="text" hidden="true" placeholder="Tìm kiếm..." name="Search...">
                  <input type="submit" hidden="true" value=" ">
              </form>
          </div>
      </div>
  </div>
</div>