<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox" >
        <div class="item active">
            <img class="first-slide" src="assets/images/slide 1.jpg" alt="First slide" style="margin: 0 auto; text-align: center;">

        </div>
        <div class="item">
            <img class="second-slide " src="assets/images/slide 2.jpg" alt="Second slide" style="margin: 0 auto; text-align: center;"> 

        </div>
        <div class="item">
            <img class="third-slide " src="assets/images/slide 3.jpg" alt="Third slide" style="margin: 0 auto; text-align: center;">

        </div>
    </div>

</div>