<div class="front-end">
  <app-header></app-header>
  <div class="banner-top">
    <div class="container">
      <h3>LIÊN HỆ</h3>
      <h4><a href="index.html">Trang chủ</a><label>/</label>Liên hệ</h4>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="contact">
    <div class="container">
      <div class="spec ">
        <h3>Liên hệ</h3>
        <div class="ser-t">
          <b></b>
          <span><i></i></span>
          <b class="line"></b>
        </div>
      </div>
      <div class=" contact-w3">
        <div class="col-md-5 contact-right">
          <img src="images/cac.jpg" class="img-responsive" alt="">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8639810443706!2d105.7445984147634!3d21.038127785993293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1605720785385!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-md-7 contact-left">
          <h4>Thông tin liên hệ</h4>
          <p>Mọi thông tin liên hệ xin gửi cho chúng tôi về địa chỉ sau. Cảm ơn quý khách đã tin tưởng sử dụng sản phẩm của chúng tôi!</p>
          <ul class="contact-list">
            <li> <i class="fa fa-map-marker" aria-hidden="true"></i>94 Hồ Tùng Mậu, Cầu Giấy</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:example@mail.com">thucphamsachtopfood@gmail.com</a>
            </li>
            <li> <i class="fa fa-phone" aria-hidden="true"></i>033 744 9695</li>
          </ul>
          <div id="container">
            <!--Horizontal Tab-->
            <div id="parentHorizontalTab">
              <ul class="resp-tabs-list hor_1">
                <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                <li> <i class="fa fa-map-marker" aria-hidden="true"></i> </li>
                <li> <i class="fa fa-phone" aria-hidden="true"></i></li>
              </ul>
              <div class="resp-tabs-container hor_1">
                <div>
                  <form action="#" method="post">
                    <label for="">Họ Tên</label><br>
                    <input type="text" value="Họ tên" name="Name"  [(ngModel)]="report.name">
                    <input type="email" value="Email" name="Email"  [(ngModel)]="report.email">
                    <label for="">Nội dung</label><br>
                    <textarea name="Message..."  [(ngModel)]="report.problem">Nội dung...</textarea>
                    <input type="submit" value="Gửi" (click)="onSubmit()">
                  </form>
                </div>
                <div>
                  <div class="map-grid">
                    <h5>Chi nhánh</h5>
                    <ul>
                      <li><i class="fa fa-arrow-right" aria-hidden="true"></i>94 Hồ Tùng Mậu, Cầu Giấy</li>
                      <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Vincom Bà Triệu</li>
                      <li><i class="fa fa-arrow-right" aria-hidden="true"></i>34 Trần Bình, Mai Dịch</li>
                      <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Mỹ Đình, Mỹ Đình</li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="map-grid">
                    <h5>Số điện thoại</h5>
                    <ul>
                      <li>Hotline : 18001098</li>
                      <li>Di động : +8433 744 9695</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Plug-in Initialisation-->
         

        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>