ngb-pagination{
    margin-left: 15px;
    }
    
    .btn-default{
        background-color: #577590;
        color: #f8f9fa !important;
    }
    
    @media (min-width: 768px) {
    .modal-dialog {
        width: 500px;
        margin: 30px auto;
    }
    }