<div class="right__content">
    <div class="right__title">Bảng điều khiển</div>
    <p class="right__desc">thêm nhà cung cấp</p>
    <div class="right__formWrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="right__inputWrapper">
                <label>Supplier Name</label>
                        <input type="text" name="name" [(ngModel)]="supplier.supplierName" formControlName="name" />
                        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                            <div *ngIf="f.name.errors.required">Tên không được để trống</div>
                        </div>
            </div>
            <button class="btn" type="submit"  [disabled]="!form.valid">Thêm</button>
        </form>
    </div>
</div>